p {
  margin-bottom: 0;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-bg {
  background: none !important;
}

.dim {
  background-color: rgba(0, 0, 0, 0.24) !important;
}

.clean-a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.center-y {
  align-items: center;
}

.bg-dim {
  background-color: rgba(0, 0, 0, 0.08);
}

.thin-24 {
  width: 24px;
  min-width: 24px;
}

.thin-action {
  width: 42px;
  min-width: 42px;
}

.thinner-action {
  width: 36px;
  min-width: 36px;
}

.select-list-item {
  display: block;
  padding: 12px 0;
}

/* override */
.multi-line-textarea textarea {
  min-height: 32px;
  height: 64px;
  max-height: 256px;
}

.my-textarea {
  min-height: 24px;
  height: 48px;
  max-height: 128px;
  width: 100%;
}

.tile-select .list__tile {
  height: auto;
  padding-left: 0;
  padding-right: 0;
}

i {
  /* visibility: hidden;
  width: 24px; */
}