html, body {
  height: 100%;
}

table.collapsed {
  border-collapse: collapse;
}

/* syllabus-tbl */
.scrollable-x {
  overflow-x: auto;
}

table.syllabus-tbl {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

table.syllabus-tbl th,
table.syllabus-tbl td {
  padding: 8px;
}

table.syllabus-tbl ul {
  padding-left: 40px;
}

.tbl-img {
  height: 64px;
}

.w-max {
  width: 100%;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-bg {
  background: none !important;
}

.dim {
  background-color: rgba(0, 0, 0, 0.24) !important;
}

.outcome-highlighted {
  background-color: #ccc;
}

.outcome-textarea {
  width: 90%;
  min-width: 90%;
  max-width: 90%;
  min-height: 32px;
  max-height: 64px;
  resize: vertical;
  background: none;
  border: 0;
}

.selection-box {
  max-height: 200px;
  overflow-y: scroll;
}

.selectable {
  cursor: pointer;
}

.t-center {
  text-align: center;
}
