p {
  margin-bottom: 0;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-bg {
  background: none !important;
}

.dim {
  background-color: rgba(0, 0, 0, 0.24) !important;
}

.clean-a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: default;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.center-y {
  align-items: center;
}

.bg-dim {
  background-color: rgba(0, 0, 0, 0.08);
}

.thin-24 {
  width: 24px;
  min-width: 24px;
}

.thin-48 {
  width: 48px;
  min-width: 48px;
}

.thin-action {
  width: 42px;
  min-width: 42px;
}

.thinner-action {
  width: 36px;
  min-width: 36px;
}

.select-list-item {
  display: block;
  padding: 12px 0;
}

.relative {
  position: relative;
}

.floating-td {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.smooth-padding {
  transition: padding 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-margin {
  transition: margin 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-height {
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-width {
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-bg-color {
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-bg-and-shadow {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: box-shadow, background-color;
}

.smooth-opacity {
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hoverable > * {
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hoverable:hover > * {
  background-color: #eee !important;
}

table.no-outside-border {
  border-collapse: collapse;
  border-style: hidden;
}

table.no-outside-border td,
table.no-outside-border th {
  border: 1px solid #ccc;
}

.underline {
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
  width: fit-content;
  max-width: 256px;
  margin: 0 auto;
}

.overline {
  text-decoration: overline;
}

.minimal-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
 
.minimal-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0, 0.12);
}
 
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

.height-padding {
  min-height: 120px;
}

/* override */
.multi-line-textarea textarea {
  min-height: 32px;
  height: 64px;
  max-height: 144px;
}

.my-textarea {
  min-height: 32px;
  height: 64px;
  max-height: 128px;
  width: 100%;
  /* width: calc(100% - 46px); */
}

.my-medium-textarea {
  min-height: 32px;
  height: 128px;
  max-height: 384px;
  width: 100%;
  /* width: calc(100% - 46px); */
}

.my-big-textarea {
  min-height: 64px;
  height: 256px;
  max-height: 512px;
  width: 100%;
  /* width: calc(100% - 46px); */
}

.visible-border {
  border: 1px solid #319e61;
}

.tile-select .list__tile {
  height: auto;
  padding-left: 0;
  padding-right: 0;
}

/* for offline purposes only */
.material-icons {
  /* width: 24px;
  overflow: hidden; */
}
