table.collapsed {
  border-collapse: collapse;
}

/* syllabus-tbl */
.scrollable-x {
  overflow-x: auto;
}

table.syllabus-tbl {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

table.syllabus-tbl th,
table.syllabus-tbl td {
  padding: 8px;
}

table.syllabus-tbl ul,
table.syllabus-tbl ol,
.my-list ul,
.my-list ol {
  padding-left: 24px;
}

table.syllabus-tbl ul ul,
table.syllabus-tbl ul ol,
table.syllabus-tbl ol ul,
table.syllabus-tbl ol ol,
.my-list ul ul,
.my-list ol ol,
.my-list ol ul,
.my-list ul ol {
  padding-left: 12px;
}

.tbl-img {
  height: 64px;
}

.outcome-highlighted {
  background-color: #ccc;
}

.selection-box {
  max-height: 200px;
  overflow-y: scroll;
}

