.syllabus-pdf-viewer {
  width: 100%;
}

.syllabus-container-large {
  overflow: auto;
  padding: 32px 32px 64px;
  background-color: #ccc;
}

.paper-8-5-11 {
  width: 1063px;
  height: 1375px;
}

.paper-8-5-13 {
  width: 1063px;
  height: 1625px;
}

.syllabus-inst {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 32px auto 0;
}

.syllabus-inst table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.15;
}

.syllabus-inst table th {
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.08);
}

.syllabus-inst table th {
  text-align: center;
}

.syllabus-inst table th.th-left {
  text-align: left;
}

.syllabus-inst table th,
.syllabus-inst table td {
  padding: 2px 8px !important;
}

.syllabus-inst {
  padding: 96px;
}
